body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* my custome CSS for bootstrap  */

body {
  background-color: #444654; 
  color: white;
}

.custom-card-size{
  width: 18rem;
}
.custom-blue-button {
  color: rgb(90, 153, 247); 
  border-color: rgb(90, 153, 247); 
}

.custom-blue-button:hover {
  border-color: rgb(90, 153, 247); 
  background-color: rgb(90, 153, 247); 
  color: white; 
}
